<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    </head>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{{ path('home_index') }}">Home</a>
                    <a href="{{ path('serie_series') }}">Série</a>
                </li>
            </ul>
        </nav>
    </header>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
